<form method="post" action="{{ path('event_add_participant', {'id': event.id}) }}">
  <input type="hidden" name="_token" value="{{ csrf_token('put' ~ event.id) }}">
  <button class="btn">Participer</button>
</form>
