{% extends 'base.html.twig' %}

{% block title %}Tous les events{% endblock %}

{% block body %}
  {% if is_granted('ROLE_ADMIN') %}
    <section class="grid grid-cols-3 gap-4 my-10">
      <div class="col-span-3 flex justify-between">
        <h2 class="font-bold uppercase">Tous les évènements à venir</h2>
        <a class="border border-gray-500 rounded-xl px-3 block ml-auto" href="{{ path('event_new') }}">Nouveau</a>
      </div>
      {% for event in all_next_events %}
        {% include "partials/card.html.twig" with {'event' : event} %}
      {% else %}
        <p>Ajoutez un nouvel évènement</p>
        <a class="border border-gray-500 rounded-xl px-3 block ml-auto" href="{{ path('event_new') }}">Nouveau</a>
      {% endfor %}
    </section>
  {% else %}
    <section class="grid grid-cols-3 gap-4 my-10">
      <div class="col-span-3 flex justify-between">
        <h2 class="font-bold uppercase">évènements à venir</h2>
        {% if is_granted('ROLE_ADMIN') %}
          <a class="border border-gray-500 rounded-xl px-3 block ml-auto" href="{{ path('event_new') }}">Nouveau</a>
        {% endif %}
      </div>
      {% for event in next_events_active %}
        {% include "partials/card.html.twig" with {'event' : event} %}
      {% else %}
        <p class="col-span-3 text-center">Il n'y a pas d'évènement programmé pour le moment</p>
      {% endfor %}
    </section>
    <section class="grid grid-cols-3 gap-4 my-10">
      <h2 class="col-span-3 font-bold uppercase">évènements passés</h2>
      {% for event in past_events_active %}
        {% include "partials/card.html.twig" with {'event' : event} %}
      {% else %}
        <p class="col-span-3 text-center">Il n'y a pas d'évènement</p>
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}
